body {
    background-image: url(../images/chicagoskyline.jpeg);
    background-repeat: no-repeat;
}

.header {
    background-color: #00a0d8;
    color: #f8f9fa;
}

.gameBox {
    color: lightgray;
    background-color: #00a0d8;
    Padding:20px;

    
}

.rules {
    background-color: #dd4148;
    max-width:500px;
    padding: 10px;
    float: left;
    margin: 0px 10px 20px 0px;
    
}

.floatReset {
    clear: both;
}



.randomNumber {
    background-color: grey;
    float: left;
    margin-left:10px;
    margin-right:10px;
    padding: 0px 10px 20px 10px;
}

.images {
    height:100px;
}

.images:hover {opacity: .7;}

.runningScore {
    float: left;
    background-color: gray;
    padding: 0px 10px 40px 10px;
}

.roundScore {
    background-color: #dd4148;
    padding:20px;
}

.totalScoreHeader {
    background-color: grey;
    padding:10px;
}

.startButton {
    color: darkgray;
}

@media only screen and (max-width: 992px) {
    .images {
        height: 75px;
        float: left;
        margin: 10px;
    }
}



@media only screen and (max-width: 597px) {
    .roundScore {
        padding-bottom:40px;
    }
}

@media only screen and (max-width: 588px) {
    .roundScore {
        padding-bottom:60px;
    }
}